<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seimun.mobile_health">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisteredActivity"
            android:label="@string/title_activity_registered"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonalCenterActivity"
            android:label="@string/title_activity_personal_center"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ServiceDetailsActivity"
            android:label="@string/title_activity_service_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hypertension_follow_up"
            android:label="@string/title_activity_hypertension_follow_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Diabetes_follow_up"
            android:label="@string/title_activity_diabetes_follow_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Neonatal_family_visit"
            android:label="@string/title_activity_neonatal_family_visit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aftercare1To8Month"
            android:label="@string/title_activity_aftercare1_to8_month"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aftercare12To30Month"
            android:label="@string/title_activity_aftercare12_to30_month"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aftercare3To6Year"
            android:label="@string/title_activity_aftercare3_to6_year"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aftercare1"
            android:label="@string/title_activity_aftercare1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aftercare"
            android:label="@string/title_activity_aftercare"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PostpartumVisit"
            android:label="@string/title_activity_postpartum_visit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Postpartum42Exam"
            android:label="@string/title_activity_postpartum42_exam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VaccineCard"
            android:label="@string/title_activity_vaccine_card"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vaccination"
            android:label="@string/title_activity_vaccination"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TcmChildGuide"
            android:label="@string/title_activity_tcm_child_guide"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".psychiatric_aftercare"
            android:label="@string/title_activity_psychiatric_aftercare"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Personal_info"
            android:label="@string/title_activity_personal_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
